SUPABASE_DATABASE=postgresql://postgres.ypqxpnuuoxlfqnxhtlob:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwcXhwbnV1b3hsZnFueGh0bG9iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0OTQ1NTcsImV4cCI6MjA4MjA3MDU1N30.nuuQsl7foTDxLB-bs-dc6kcSQ3Fi7errsD4cCVLPzwQ
NEXT_PUBLIC_SUPABASE_URL=https://ypqxpnuuoxlfqnxhtlob.supabase.co